/* Contenedor general */
.register-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
}

/* Encabezado */
.content-container {
  text-align: center;
  margin-bottom: 30px;
}

.content-container h1 {
  font-size: clamp(2rem, 4vw, 2.5rem); /* Mínimo 2rem, ideal 4vw, máximo 2.5rem */
  font-weight: 600;
  color: #212121;
}

.content-container h2 {
  font-size: clamp(1.2rem, 3vw, 1.8rem); /* Mínimo 1.2rem, ideal 3vw, máximo 1.8rem */
  font-weight: 400;
  color: #757575;
  margin-top: 10px;
}

/* Formulario */
.registro-container {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Campos */
mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

/* Botón */
.register-button {
  background-color: #3F51B5;
  color: white;
  width: 100%;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-button:hover {
  background-color: #448AFF;
}


@media (max-width: 768px) {
  .login-container,
  .registro-container {
    padding: 20px;
    width: 100%;
  }

  .login-button,
  button[type="submit"] {
    width: 100%;
    font-size: 16px;
  }

  mat-form-field {
    width: 100%;
  }

  h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }
}
