  <mat-toolbar class="toolbar">
    <img src="assets/logoqondor.png" alt="Flag Icon" class="icon">

    <span class="spacer"></span> 
    <button mat-button routerLink="/">Inicio</button>
    <!-- <button mat-button routerLink="/cuestionario">Cuestionario</button> -->
    <button mat-button routerLink="/login">Iniciar Sesion</button>
    <button mat-button routerLink="/register">Registrarse</button>
    <!-- <button mat-button routerLink="/state">Sobre Nosotros</button> -->
    <!-- <button mat-button routerLink="/contact">Contactos</button> -->
  </mat-toolbar>

