<img src="assets/imagenbase.jpg" alt="Observatorio de Calidad de Software" class="banner-image" />
<h1>Iniciar Sesión</h1>
<h2>Por favor inicie sesión para continuar</h2>
<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Correo</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput type="text" formControlName="email" required>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        El correo es obligatorio
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Correo inválido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput type="password" formControlName="password" required>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        La contraseña es obligatoria
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" class="login-button" type="submit" 
            [disabled]="loading || loginForm.invalid">
      Ingresar
      <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
    </button>
  </form>
</div>