.app-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
}

app-header {
}

.main-content {
  flex: 1; 
  padding: 16px; 
  background-color: #f5f5f5;
}

.footer-toolbar {
  background-color: #455740;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif; 
  font-weight: normal; 
  font-size: small;     

  .container {
    text-align: center;
  }
}

