<div class="container" *ngIf="preguntaAutorizacion.avaliable">
  <h2>Información Importante</h2>
  <app-questionselect [category]="preguntaAutorizacion.category"  [questions]="preguntaAutorizacion.questions" (answered)="answeredQuestion($event)"></app-questionselect>
</div>
  
  <div class="container" *ngIf="preguntasGenerales.avaliable">
    <h2>PREGUNTAS GENERALES</h2>
    <app-questionselect [category]="preguntasGenerales.category" [questions]="preguntasGenerales.questions" (answered)="answeredQuestion($event)"></app-questionselect>
  </div>
  <div class="container" *ngIf="preguntasCalidad.avaliable">
    <h2>PREGUNTAS DE CALIDAD</h2>
    <app-questionselect [category]="preguntasCalidad.category" [questions]="preguntasCalidad.questions" (answered)="answeredQuestion($event)"></app-questionselect>
  </div>
  <div class="container" *ngIf="preguntasEsfuerzo.avaliable">
    <h2>PREGUNTAS DE ESFUERZO</h2>
    <app-questionselect [category]="preguntasEsfuerzo.category" [questions]="preguntasEsfuerzo.questions" (answered)="answeredQuestion($event)"></app-questionselect>
  </div>
  <div class="container" *ngIf="preguntasDesafio.avaliable">
    <h2>PREGUNTAS DE DESAFÍO</h2>
    <app-questionselect [category]="preguntasDesafio.category"   [questions]="preguntasDesafio.questions" (answered)="answeredQuestion($event)"></app-questionselect>
  </div>

  <div *ngIf="loading">
    <app-loading></app-loading>
  </div>


  <app-modal-notification 
  [nofiticationData]="notificationData"
  *ngIf="visibleAlert"
  (ResponseOptionText)="buttonOption($event)"
  >
</app-modal-notification>