<body>
<div class="report-container">
  <h1>Informe de Evaluación de Calidad de Software</h1>
  <!-- Sección de introducción -->
  <div class="description-container">
    <h2>Introducción</h2>
    <p>
      Esta vista proporciona un resumen integral del estado actual de la calidad del software de la 
      empresa, basado en la evaluación realizada. Se destacan los niveles de implementación por áreas 
      clave y el porcentaje de esfuerzo asignado a cada una.
    </p>
  </div>
  <hr>

  <h2>Gráfica de Niveles de Implementación</h2>

  <h3>Gestión de calidad</h3>
  <div class="chart-row">
    <canvas #calidadChartCanvas1 class="small-chart"></canvas>
    <div class="table-container">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Práctica</th>
            <th>Nivel</th>
            <th>Nombre</th>
            <th>Interpretación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interpretacion of listaPracticasGestion">
            <td>{{ interpretacion.practica }}</td>
            <td>{{ interpretacion.nivel }}</td>
            <td>{{ interpretacion.nivel_nombre }}</td>
            <td>{{ interpretacion.interpretacion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <h3>Control de calidad</h3>
  <div class="chart-row">
    <canvas #calidadChartCanvas2 class="small-chart"></canvas>
    <!-- <div class="table-container">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Práctica</th>
            <th>Nivel</th>
            <th>Nombre</th>
            <th>Interpretación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interpretacion of listaPracticasControl">
            <td>{{ interpretacion.practica }}</td>
            <td>{{ interpretacion.nivel }}</td>
            <td>{{ interpretacion.nivel_nombre }}</td>
            <td>{{ interpretacion.interpretacion }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
   <hr>
  <h3>Aseguramiento de calidad</h3>
  <div class="chart-row">
    <canvas #calidadChartCanvas3 class="small-chart"></canvas>
    <!-- <div class="table-container">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Práctica</th>
            <th>Nivel</th>
            <th>Nombre</th>
            <th>Interpretación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interpretacion of listaPracticasAseguramiento">
            <td>{{ interpretacion.practica }}</td>
            <td>{{ interpretacion.nivel }}</td>
            <td>{{ interpretacion.nivel_nombre }}</td>
            <td>{{ interpretacion.interpretacion }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
 <hr>

  <h2>Gráfica de Porcentaje de Esfuerzo</h2>
  <p>
    Las siguientes gráficas muestran el porcentaje de esfuerzo que invierten las PYMES desarrolladoras del suroccidente colombiano en prácticas de calidad.
  </p>
  <div class="chart-row">
    <canvas #calidadChartEsfuerzo class="small-chart"></canvas>
  </div>
  <hr>
  <h2>Gráfica de Desafíos</h2>
  <p>
    Las siguientes gráficas muestran los mayores desafíos que enfrentan las PYMES desarrolladoras del suroccidente colombiano para implementar prácticas de calidad en sus proyectos.
  </p>
  <div class="chart-row">
    <canvas #calidadChartDesafiosCanvas class="small-chart"></canvas>
  </div>
  <hr>
  <div class="conclusion-section">
    <h2>Conclusión</h2>
    <p>
      La siguiente tabla presenta un resumen por área evaluada, incluyendo el puntaje obtenido y una recomendación personalizada para mejorar la calidad del software en cada aspecto.
    </p>
  
    <!-- <div class="table-container">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Área</th>
            <th>Puntaje</th>
            <th>Recomendación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conclusiones of listaConclusiones">
            <td>{{ conclusiones.area }}</td>
            <td>{{ conclusiones.puntaje }}</td>
            <td>{{ conclusiones.recomendacion }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
  <button mat-raised-button class="custom-button" (click)="regresar()">Atrás</button>
</div>
</body>
