
.mission-container {
  background-color: #455740;
  color: #9DC08B;
  padding: 50px;
  font-family: 'Arial', sans-serif;
}


.title-one {
  color: #A479FD;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.title-two {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #4d645d; 
}

.features-container {
  background-color: #e8f6f3;
  padding: 50px;
  font-family: 'Arial', sans-serif;
}

.title-two {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #4d645d;
}


.text-two {
  color: #40513B;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2rem;
}