<mat-toolbar class="toolbar">
  <button mat-button routerLink="/" class="qondor-logo">QONDOR</button>

  <span class="spacer"></span>

  <div *ngIf="!logueado">
    <button mat-button routerLink="/">Inicio</button>
    <button mat-button routerLink="/state">Reportes</button>
    <button mat-button routerLink="/login">Iniciar Sesion</button>
    <button mat-button routerLink="/register">Registrarse</button>
  </div>

  <div *ngIf="logueado">
    <button mat-button routerLink="/mainview">Perfil</button>
    <button mat-button (click)="logout()">Cerrar Sesion</button>
  </div>
</mat-toolbar>
