<mat-toolbar class="custom-toolbar">
  <button mat-button routerLink="/" class="qondor-logo">QONDOR</button>

  <span class="spacer"></span>

  <nav *ngIf="!logueado" class="nav-links">
    <a mat-button routerLink="/">Inicio</a>
    <a mat-button routerLink="/mainview-global">Reportes anuales</a>
    <a mat-button routerLink="/login">Iniciar Sesión</a>
    <a mat-stroked-button color="accent" routerLink="/register">Registrarse</a>
  </nav>

  <nav *ngIf="logueado" class="nav-links">
    <a mat-button routerLink="/mainview">Perfil</a>
    <a mat-button (click)="logout()">Cerrar Sesión</a>
  </nav>
</mat-toolbar>
