.qondor-logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff; 
}

.toolbar {
  background-color: #303f9f;
  color: #ffffff;
  font-family: 'Inter', sans-serif; 
  font-weight: normal; 
  font-size: small;
}

.spacer {
  flex: 1 1 auto;
}
