.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.image-container {
  flex: 2;
}

.img-fluid {
  width: 52%;
  height: auto;
}

.form-container {
  background-color: #d6d5d5;
  padding: 20px;
  border-radius: 5px;
  flex: 1;
}

h2 {
  color: green; /* Color del título */
  margin-bottom: 20px; /* Espacio entre el título y el párrafo */
}

p {
  color: green; /* Color del texto */
  margin-bottom: 30px; /* Espacio entre el texto y el botón */
}

.btn-primary {
  background-color: green;
  color: white;
  padding: 10px 20px; /* Ajusta el tamaño del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}