<!-- <div class="container">
  <p>
    El <span class="custom-blue-text">Modelo de Encuesta del Observatorio de Calidad para la Industria de Software en el Suroccidente Colombiano</span> y busca evaluar el estado de la calidad del software en las PYMES de la región. A través de la recolección de datos estructurada, se pretende identificar el 
    <span class="custom-blue-text">nivel de implementación de prácticas de calidad y los principales desafíos que enfrentan estas organizaciones.</span>
  </p>
  <p>
    El propósito del <span class="custom-blue-text">Modelo</span> es que las pymes desarrolladoras de software tomen conciencia del estado de sus proyectos y su desempeño, mejorando <span class="custom-blue-text">su trabajo, incrementando su productividad y competitividad.</span> Para esto el modelo se enfoca en:
  </p>
  <ul>
    <li>
      <img src="assets/flag-icon.png" alt="Flag Icon" class="icon">
      Hacer seguimiento a los procesos de calidad de las empresas desarrolladoras y conocer su estado actual.
    </li>
    <li>
      <img src="assets/bar-chart-icon.png" alt="Bar Chart Icon" class="icon">
      Medir el estado actual de las prácticas de calidad en las PYMEs del suroccidente colombiano.
    </li>
    <li>
      <img src="assets/book-icon.png" alt="Book Icon" class="icon">
      Reflexionar sobre cómo mejorar las prácticas de calidad.
    </li>
  </ul>

  <p>
    El <span class="custom-blue-text">Modelo</span> se basa en el enfoque 
    <span class="custom-blue-text">GQM (Goal-Question-Metric)</span> y está compuesto por los siguientes elementos:
  </p>
  
  <img src="assets/gqm-imagen.png" alt="Diagrama GQM" class="gqm-diagram">

  <h2>CARACTERÍSTICAS DEL MODELO</h2>

<div class="feature">
  <span class="icon smiley"></span>
  <span class="custom-blue-text">Flexible y adaptable:</span> Puede aplicarse a diversas organizaciones sin interrumpir sus prácticas actuales.
</div>

<div class="feature">
  <span class="icon arrow-up"></span>
  <span class="custom-blue-text">Orientado a la mejora continua:</span> Su propósito es permitir a las empresas reflexionar y mejorar sus procesos de calidad.
</div>

<div class="feature">
  <span class="icon book"></span>
  <span class="custom-blue-text">Enfocado en la medición objetiva:</span> Utiliza métricas cuantificables para evaluar el estado de la calidad del software.
</div>

<div class="feature">
  <span class="icon bar-chart"></span>
  <span class="custom-blue-text">Basado en estándares reconocidos:</span> Considera normas como CMMI, ISO/IEC 12207, ISO 29110 e ISO 25000.
</div>

</div> -->

<div class="container">
      <img src="assets/imagenbase.png" alt="Encuesta de Calidad de Software" class="img-fluid">
  <div class="form-container">
      <h2>Encuesta de Calidad de Software 2025</h2>
      <p>Deseas conocer el estado de calidad de los procesos de tu compañía? Qóndor es la herramienta perfecta! Haz clic en el botón de abajo para completar la encuesta y marcar la diferencia.</p>
      <button class="btn btn-primary" routerLink="/cuestionario">Empezar ahora</button>
  </div>
</div>

