
<div class="container">
  <div class="left-column">
  <div class="form-container">
    <h1>Encuesta de Calidad de Software 2025</h1>
    <h3>Deseas conocer el estado de calidad de los procesos de tu compañía? Qóndor es la herramienta perfecta! Haz clic
      en el botón de abajo para completar la encuesta y marcar la diferencia.</h3>
    <button class="btn btn-primary" routerLink="/cuestionario">Empezar ahora</button>
  </div>
</div>
<div class="right-column">
  <img src="assets/imagenbase.png" alt="Encuesta de Calidad de Software" class="img-fluid">
</div>
</div>