.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.image-container {
  flex: 2;
}

.img-fluid {
  width: 75%;
  height: auto;
}

.form-container {
  background-color: #00000073;
  padding: 10px;
  /* border-radius: 5px;
  flex: 1; */
}

h1 {
  color: #FFFFFF; 
  margin-bottom: 20px; 
}

h3 {
  color: #FFFFFF; 
  margin-bottom: 30px; 
}

.btn-primary {
  background-color: #9c27b0;
  color: white;
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.left-column {
  width: 50%; 
}
.right-column {
  width: 50%; 
  text-align: center;
}
