<div class="banner-container">
  <div class="image-overlay">
    <div class="content-container">
      <h1>Bienvenido</h1>
      <h2>Monitoreamos y evaluamos la calidad del software en la región</h2>
      <p>En nuestro observatorio encontrarás herramientas, métricas e informes para medir y mejorar la calidad del software en las pymes del suroccidente colombiano.</p>
      <div class="cta-text">
        ¡Regístrate y da el salto al futuro profesional de tu organización!
      </div>
    </div>
    <footer>
      © 2025 Universidad del Cauca, todos los derechos reservados | Autor: Esneider Majin Palechor - Sebastian Osorio
    </footer>
  </div>
</div>

