<h1>Observatorio de Software</h1>

<div class="contenedor-tabla" *ngIf="listaEncuestas.length">
  <h2>Para ver los resultados de la encuesta, haga clic en "Generar Resultados".</h2>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Fecha</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let encuesta of listaEncuestas; let i = index">
        <td>Encuesta {{i + 1}}</td>
        <td>{{ formatDate(encuesta.fechaCreacion) }}</td>
        <td>
          <button (click)="generarResultados(encuesta.idEncuesta)" class="btn-generar">
            Generar Resultados
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="encuesta-container">
  <button mat-button class="survey-button" routerLink="/cuestionario">
    Iniciar Encuesta
  </button>
</div>
