/* pregunta-radio.component.css */
.pregunta-container {
  margin: 1rem auto;
  max-width: 500px;
  font-family: Arial, sans-serif;
}

.container-titulos{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  text-align: center;
}

.container-text{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  text-align: justify;
}

.h3 {
  margin-bottom: 1rem;
  font-weight: normal;
  text-align: justify;
  font-family: 'Roboto', sans-serif; /* Cambia la fuente a Roboto */
  text-align: justify;
}

.pregunta-container h3 {
  margin-bottom: 1rem;
  font-weight: normal;
  text-align: justify;
}


h2 {
  font-family: 'Roboto', sans-serif; /* Cambia la fuente a Roboto */
  font-weight: normal;
}


.obligatorio {
  font-weight: normal;
  color: #666;
}

.asterisk {
  color: red;
  margin-left: 0.3rem;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.radio-opcion {
  margin-bottom: 0.5rem;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}


.button-send {
  align-items: center;
  background-color: #4CAF50;
  color: white;
}

.matrix-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  background-color: #f8f9fa;
  color: #333;
}

.question-header {
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* .column-header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
} */

.row-label {
  text-align: left;
  padding: 10px;
  border-right: 1px solid #ddd;
  background-color: #f9f9f9;
}


/* Estilos responsivos */
@media (max-width: 600px) {
  .pregunta-container {
    max-width: 100%;
    padding: 0.5rem;
  }

  .matrix-table {
    font-size: 0.8rem;
  }

  .column-header, .row-label, .radio-cell {
    padding: 5px;
  }

  .radio-cell {
    min-width: 40px;
  }

  h3 {
    font-size: 1rem;
  }
}

.button-container {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}
