mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.pregunta-container {
  margin: 1rem auto;
  max-width: 500px;
  font-family: Arial, sans-serif;
}

.container-titulos{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  text-align: left;
}

.container-text{
  justify-content: space-between;
  align-items: left;
  margin-bottom: 1rem;
  text-align: justify;
}

h2 {
  font-family: 'Roboto', sans-serif; /* Cambia la fuente a Roboto */
  font-weight: normal;
}


.obligatorio {
  font-weight: normal;
  color: #666;
}

.asterisk {
  color: red;
  margin-left: 0.3rem;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.radio-opcion {
  margin-bottom: 0.5rem;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.button-send {
  margin: 20px auto; /* Centra horizontalmente */
  background-color: #040c42;
  color: white;
  width: 20%;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-send:hover {
  background-color: #C5CAE9;
}

.matrix-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  background-color: #f8f9fa;
  color: #333;
}

.question-header {
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.row-label {
  text-align: left;
  padding: 10px;
  border-right: 1px solid #ddd;
  background-color: #f9f9f9;
}


/* Estilos responsivos */
@media (max-width: 600px) {
  .pregunta-container {
    max-width: 100%;
    padding: 0.5rem;
  }

  .matrix-table {
    font-size: 0.8rem;
  }

  .column-header, .row-label, .radio-cell {
    padding: 5px;
  }

  .radio-cell {
    min-width: 40px;
  }

  h3 {
    font-size: 1rem;
  }
}

.button-container {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}


/* Estilos para el contenedor de porcentaje */
.percentage-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

/* Cada fila (opción) dentro del contenedor */
.percentage-container > div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

/* Estilos para la etiqueta de la opción */
.percentage-container label {
  flex: 1;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

/* Estilos para el input numérico */
.percentage-container input[type="number"] {
  width: 80px;
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
}

/* Mensaje de error */
.percentage-container .error-message {
  font-size: 0.9rem;
  color: red;
  margin-top: 0.5rem;
  text-align: center;
}