.footer-toolbar {
  background-color: #e8eaf6; /* tono principal */
  color: #000000;
  padding: 20px 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.footer-text {
  margin: 0;
  padding: 0;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 600px) {
  .footer-toolbar {
    font-size: 0.8rem;
    padding: 15px 5px;
  }
}

