
  <div class="contact-container">
    <div class="image-container">
        <img src="assets/imagencontacto.png" alt="Equipo trabajando" class="contact-image">
    </div>
    <div class="right-column">
        <h1>Contáctanos</h1>
        <p>Estamos aquí para ayudarte con cualquier consulta.</p>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <mat-form-field appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="correo" placeholder="Correo">
                </mat-form-field>
            </div>
            <div class="input-group">
                <mat-form-field appearance="outline">
                    <mat-label>Escribe tu mensaje aquí...</mat-label>
                    <textarea matInput formControlName="mensaje" placeholder="Escribe tu mensaje aquí..."></textarea>
                </mat-form-field>
            </div>
            <button mat-raised-button class="button-send" type="submit">Enviar</button>
        </form>
    </div>
</div>